@import './variables'; // Importer les variables

/* Specific Elements */
h1 {
  padding-left: 5vw;
}

.form {
   @extend .display-flex; // Remplace @extend par la variable
  width: 90vw;
   @extend .padding-form; // Applique directement la variable pour le padding
}

.container-left {
   @extend .display-flex;
  width: 70%;
  flex-direction: column;
}

.container-target-color {
 @extend .container-div;
}
.input-container-palette {
  @extend .container-div;
  @extend .padding-bottom-div; // Remplace padding-bottom-10px par la nouvelle variable
 
}
.input-container-from-img {
  @extend .container-div;
  @extend .padding-left-div;  // Remplace padding-left-20px par la nouvelle variable
}

.input-container-target-color {
  @extend .container-div;

}

#targetColor, .result-color {
  width: 100px;
  height: 70%;
  border: none;
   @extend .display-flex;
   @extend .justify-content-center;
   @extend .align-items-center;
}

.result-color {
  padding-left: 20px;
}

label {
  @extend .label-content !optional;
}



.input-img {
   @extend .display-flex;
  flex-direction: column;
   @extend .gap;
   @extend .align-items-center;
}

#imageUpload {
   @extend .display-flex;
  margin: 0;
}



.container-palette {
   @extend .display-flex;
   width : 40%;
  flex-direction: column;
}

select#palette {
  width: 300px;
  height: 70%;
}

.color-box {
   @extend .colorbox;
   width : 100%;
   @extend .justify-content-center;
 
}

.color-box-span {
   @extend .display-flex;
}

.container-result-color {
  @extend .colorbox;
  flex-direction: row;
  
}