@import './app.scss'; // Importer les variables

/* Specific Elements */


.form {

  @extend .display-flex; // Remplace @extend par la variable
  width: 90vw;
  @extend .padding-form; // Applique directement la variable pour le padding


}


.container-left {
  @extend .display-flex;
  width: 75%;
  padding-right: 5%;
  flex-direction: column;

}

.container-target-color {
  @extend .container-div;
  flex-direction: column;
  height: fit-content;
  align-items: flex-start

}

.input-container-palette {
  @extend .container-div;


  @extend .padding-bottom-div; // Remplace padding-bottom-10px par la nouvelle variable

}

.input-container-from-img {
  @extend .container-div;
  @extend .padding-left-div; // Remplace padding-left-20px par la nouvelle variable
}

.input-container-target-color {
  @extend .container-div;

}


.menu-palette{
  display: flex;
  align-items: flex-start;

}
.title-palette{
  display: flex;
  justify-content: space-around;
  

  box-sizing: border-box;

}

label {
  @extend .label-content !optional;
}



.input-img {
  @extend .display-flex;
  flex-direction: column;
  @extend .gap;
  @extend .align-items-center;
}



.container-right{
  display: flex;
  width: 40%;
  flex-grow: 1;
  flex-direction: column;
  
}
.container-palette {

  @extend .item;
  @extend .display-flex;
  flex-grow: 1;

  flex-direction: column;
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

}

.palette-preview::-webkit-scrollbar-track {
  @extend .webkit-scrollbar-track;
}

.palette-preview::-webkit-scrollbar {
  @extend .webkit-scrollbar;
}

.palette-preview::-webkit-scrollbar-thumb {
  @extend .webkit-scrollbar-thumb;
}

.palette-preview {
  height: 65vh;
  overflow: auto;
  mask-image: linear-gradient(to bottom, black calc(100% - 100px), transparent 100%);
}

#targetColor {
  border: none
}

select#palette,
#targetColor,
.result-color {
  @extend .input-select;
}

.result-color {
  @extend .padding-left-div;
  justify-content: center;
  align-items: center;

}

.color-box {
  @extend .colorbox;
  width: 100%;
  @extend .justify-content-center;

}

.color-box-span {
  @extend .display-flex;
}

.container-result-color {
  @extend .colorbox;
  flex-direction: row;

}
.container-target-color-button{
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 0;
  @extend .gap;
  margin: 0;
  justify-content: space-between;
}

#mix {
  display: flex;
  position: relative;
  justify-content: center;
  width: 110px;
  /* Largeur du bouton */
  height: 85px;
  /* Hauteur du bouton */
  padding: 0;
  /* Enlève les espaces internes par défaut */
  border: none;
  /* Pas de bordure */

  background-color: transparent;
  /* Pas de fond pour laisser l'image dominer */
  cursor: pointer;
  /* Change le curseur au survol */
  overflow: hidden;
  /* Assure que l'image reste dans les limites */
}

button#mix img {
  width: 100%;
  /* L'image remplit toute la largeur */
  height: 100%;
  /* L'image remplit toute la hauteur */
  object-fit: cover;
  /* L'image est redimensionnée pour remplir le bouton tout en gardant son ratio */
  border: none;
  /* Pas de bordure */
}

button#mix span {
  position: absolute;
  /* Superpose le texte à l'image */
  top: 50%;
  /* Centre verticalement */
  left: 50%;
  /* Centre horizontalement */
  transform: translate(-50%, -50%);
  /* Ajuste pour que le centre du texte soit au centre du bouton */
  color: rgb(255, 255, 255);
  /* Couleur du texte */
  font-size: 35px;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  /* Ombre pour améliorer la lisibilité */
  z-index: 1;
  /* Assure que le texte est au-dessus de l'image */
}

.input-img {
  position: relative;
  width: 100%; /* Occupe toute la largeur de son conteneur par défaut */
  height: 100%; /* Hauteur fixe ou relative selon besoin, ajustez cette valeur */
  overflow: hidden; /* Empêche le débordement du contenu (pour canvas ou zoom) */
  margin-top: $spacing-small;;
  display: flex;
  justify-content: center; /* Centre horizontalement les éléments à l'intérieur */
  align-items: center; /* Centre verticalement les éléments à l'intérieur */

  /* Ajoutez des marges ou du padding si nécessaire */
  padding: $spacing-small;
  box-shadow: 0 40px 80px #dadada;
  border-radius: 6px;
  

}