.display-flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .justify-content-start {
    justify-content: flex-start;
  }
  .height-color-box{
height: 50px;
  }
  
  .gap {
    gap: 20px;
  }
  
  .height-txt-div {
    height: 70px;
  }
  

  
  .padding-form {
    padding-left: 5vw;
  }
  
  .padding-left-div {
    padding-left: 20px;
  }
  
  .padding-bottom-div {
    padding-bottom: 10px;
  }